


# requirements.txt

streamlit
streamlit-option-menu
pandas
plotly
langchain
langchain-community
huggingface-hub
pydantic
spacy
sentence-transformers
transformers
faiss-cpu
torch
python-docx
pypdf
python-dotenv