# requirements.txt

streamlit
streamlit-option-menu
pandas
plotly
langchain
langchain-community
huggingface-hub
pydantic
faiss-cpu
torch
python-docx
pypdf
python-dotenv
sentence-transformers
transformers

# Pin spacy and add its model to ensure compatibility
spacy==3.7.5
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl